// ----------------------------------------------------------------------
  // utils
// ----------------------------------------------------------------------
//@import "utils/_mixins.less";
@import "utils/_variables.less";
//@import "utils/_extends.less";
//@import "utils/_reset.less";

// ----------------------------------------------------------------------
  // Layout
// ----------------------------------------------------------------------
@import "layout/_default.less";

// ----------------------------------------------------------------------
  // Modules
// ----------------------------------------------------------------------


// ----------------------------------------------------------------------
	// Views
// ----------------------------------------------------------------------
//@import "theme/_blue.less";



#global-messages {
  > .alert {
    &:before {
      content: " ";
      display: table;
    }
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
    > .glyphicon {
      &:first-child {
        float: left;
        margin-right: 1ex;
        line-height: 120%;
      }
    }
  }
}

#ion-login-page {
  margin-top: 20px;
  h3 {
    font-weight: bold;
    margin: 5px 0 15px 0;
    text-align: center;
    text-transform: uppercase;
  }
}

.panel-body {
  padding: 15px;
  margin-top: -10px;
}

.text-primary {
  color: @text-primary-color;
}


/* ----------- Adaptive params ------------- */

@media (min-width: 768px) {
  #global-messages {
    padding-left: 250px;
    min-height: 80px;
  }
}

@media (min-width: 992px) {
  #global-messages {
    min-height: 170px;
  }
}
