// ----------------------------------------------------------------------
	// Layout Breakpoints
// ----------------------------------------------------------------------
@maxWidth: 1280px;


// ----------------------------------------------------------------------
	// Font Sizes
// ----------------------------------------------------------------------
@regularSize: 12px;


// ----------------------------------------------------------------------
	// Font Families
// ----------------------------------------------------------------------
@helvetica: Helvetica, Arial, sans-serif;

// ----------------------------------------------------------------------
  // Grid
// ----------------------------------------------------------------------
@grid-columns: 12;

// ----------------------------------------------------------------------
  // Colors
// ----------------------------------------------------------------------

@dropdown-menu-bg-color-1: #e8e8e8;
@dropdown-menu-bg-color-2: #f7c13f;
@steps-title-color-1: #c9ae6e;
@steps-title-color-2: #c0c0c0;
@services-cont-block: #B48A27;
@btn-success-bg-color-1: #419641;
@btn-success-border-color-1: #3e8f3e;